@import "tailwindcss";
@tailwind components;
@tailwind utilities;

:root {
  /* Brand Colors (GridForge) */
  --color-primary: #ff6a00;
  --color-primary-light: #ff8c3a;
  --color-primary-dark: #cc5500;

  --color-bg: #0a0a0a;
  --color-surface: #111111;
  --color-border: #212121;

  --color-text: #ffffff;
  --color-text-muted: #a1a1a1;
}
